<%- include("../partials/default/header") %> 

<%- include ("../partials/messages"); %>


<h5 style="text-align: center; margin-top: 10%;  background-color: transparent; line-height: 2rem; font-family: Arial, Helvetica, sans-serif;">
This application is all about sending bulk messages to different people with a unique phone numbers.
The application can be employ by organization who have many workers and want to send messaages to them instantly and aslo can be use for events (wedding, party and alot more). <br>
Also the application give awareness about ransomware, how users should safeguard their data when they navigate through any websites, which give them tips on what to do before giving out their details out to any platform.
</h5>

<%- include("../partials/default/footer") %> 

