<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remind Me | Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/custom.css" />
  </head>
  <body class="container">
    <!-- ============================== -->

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Scheduler</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/" class="active nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/admin/login" class="nav-link">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--------------------------------------------Main Page starts---------------------------------->
    <div class="conatiner">
      <!-- Ransomeware Awareness Ad -->
      <!------------------------------------------- modal starts here ------------------------------->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-full">
          <div class="modal-content">
            <div class="modal-body">
              <div>
                <h1 class="text-center">
                  AWARENESS ON RANSOMEWARE AND DEFENSE MECHANSISM
                </h1>
                <div>
                  <div class="row">
                    <div class="col-2 left">
                      <img src="./images/protection.png" alt="" />
                    </div>
                    <div class="col-8">
                      <h5>PROTECT YOURSELF</h5>
                      <div class="aware-text">
                        <!------------------col 1 Starts---------------------------->
                        <div>
                          <!-- single awareness start -->
                          <div class="single_aware">
                            <i
                              class="fa fa-desktop fa-3x"
                              aria-hidden="true"
                            ></i>
                            <span>
                              Regularly backup the data stored on your computer.
                              Keep at least 1 copy offline
                            </span>
                          </div>
                          <!-- single awareness ends -->

                          <!-- single awareness start -->
                          <div class="single_aware">
                            <i
                              class="fa fa-envelope fa-3x"
                              aria-hidden="true"
                            ></i>
                            <span>
                              Do not click on links within unexecpted or
                              suspicious emails.
                            </span>
                          </div>
                          <!-- single awareness ends -->

                          <!-- single awareness start -->
                          <div class="single_aware">
                            <i
                              class="fa fa-download fa-3x"
                              aria-hidden="true"
                            ></i>
                            <span>
                              Browse and download only official versions of
                              software and always from trusted websites.
                            </span>
                          </div>
                          <!-- single awareness ends -->
                        </div>
                        <!------------------col 1 Ends---------------------------->

                        <!------------------col 2 Starts---------------------------->
                        <div>
                          <!-- single awareness start -->
                          <div class="single_aware">
                            <img
                              src="https://img.icons8.com/pastel-glyph/64/000000/security-shield.png"
                            />
                            <span>
                              Use robust security products to protect your
                              system from all threats, including ransomware.
                            </span>
                          </div>
                          <!-- single awareness ends -->

                          <!-- single awareness start -->
                          <div class="single_aware">
                            <i
                              class="fa fa-recycle fa-3x"
                              aria-hidden="true"
                            ></i>
                            <span>
                              Ensure that your security sooftware and operating
                              system are up to date.
                            </span>
                          </div>
                          <!-- single awareness ends -->

                          <!-- single awareness start -->
                          <div class="single_aware">
                            <img
                              src="https://img.icons8.com/ios-filled/50/000000/one-finger--v1.png"
                            />
                            <span>
                              Be wary while browsing the internet and to do not
                              click on suspicious links. Pop ups or dialogue
                              boxes
                            </span>
                          </div>
                          <!-- single awareness ends -->

                          <!-- single awareness start -->
                          <div class="single_aware">
                            <i class="fa fa-key fa-3x" aria-hidden="true"></i>
                            <span>
                              Do not use high priviledges accounts (account with
                              administrator rights) for daily business.
                            </span>
                          </div>
                          <!-- single awareness ends -->
                        </div>
                        <!------------------col 2 Ends---------------------------->
                      </div>
                    </div>
                    <div class="col-2">
                      <button class="btn continue" data-dismiss="modal">
                        <a id="close" class="close" href="#"
                          >Click to continue</a
                        >
                      </button>
                      <img class="right" src="./images/attack.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------------------------------------------- modal starts Ends ------------------------------->
      <!-- Ransomeware Awareness Ad End -->

      <div class="row center">
        <div class="col-sm-12 col-md-6 schedule-text">
          <h2>Bulk SMS Scheduler</h2>
          <h2 class="underline"></h2>
          <p>
            This application lets you create and queue up your message for
            sending so you never have to forget sending important reminders and
            notifications. The scheduler app sends intermittent bulk SMS to
            registered user based on specified time(s)
          </p>
        </div>
        <div class="col-sm-12 col-md-6 schedule-card">
          <div class="card card-body text-center p-5">
            <h1><i class="fas fa-house-user fa-2x"></i></h1>
            <p>Sign Up To Recieve Regular Reminder</p>
            <a href="/register" class="btn btn-info">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    <!--------------------------------------------Main Page Ends---------------------------------->

    <script src="/path/to/js.cookie.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/custom.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
